(deflayer org.telegram.desktop
  @kaboom  XX   XX   XX   XX   XX   XX   XX   XX   XX   XX  XX  XX  XX XX XX   XX   XX XX XX
  lrld   @j    (tap-hold-release 200 200 v lsft)    (multi lctl f)    @m   @p   @v    XX    XX    .    (multi lalt down)    (multi lalt up)    @quote    bspc           XX XX  XX  XX
  (multi lctl lsft up)  up    @s    @n    @d    w    XX    XX    ,    @a    (multi lctl down)    (multi lctl up)    @h    ;            XX  XX  XX
  (multi lctl lsft down) @g    @l    @c    b    XX    XX    XX    @-    @u    o    @y          k             XX  XX  XX  XX
  XX @qwertyl XX    (layer-toggle num)    @onesft    (layer-toggle mouse)    XX    XX    (tap-hold-release 222 222 spc (layer-toggle sym))  @onesft XX  XX XX     XX                XX  XX  XX
  XX @onehandl XX           ret            XX  @russch @russch XX XX      XX       XX XX  XX
)

