pane_frames false
default_layout "compact"
scrollback_editor "nvim"
theme "catppuccin-mocha"

keybinds {
    shared_except "locked" {
        bind "Alt n" { NewTab; }
        bind "Alt a" { GoToPreviousTab; }
        bind "Alt e" { GoToNextTab; }
        bind "Alt d" { NewPane "Down"; }
        bind "Alt s" { NewPane "Right"; }
        bind "Alt l" { FocusNextPane; }
        bind "Alt m" { MovePane; }
        bind "Alt x" { CloseFocus; }
        bind "Alt t" { EditScrollback; }
    }
}
